:root {
    --colorYellowGold: #ff7700;
    --colorblackblue: #0d2537;
    --colorblueblack: #21758f;
  }
footer {
    margin-top: 5%;
    background-color: var(--colorblackblue);
    padding: 3rem 0;
  }
  .footer-grid {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 2rem;
  }
  .footer-grid h3,h4{
    color:var(--colorYellowGold);
  }
  .footer-grid a{
    color:#fff;
  }
  .social-icons{
    display:flex;
    gap:1rem;
    align-items:center;
  }
  .social-icons a{
    padding:5px 10px;
    background-color:var(--colorblueblack);
    border-radius:50%;
  }
  .social-icons a:hover{
    background-color:var(--colorblackblue);
  }
  