:root {
    --colorYellowGold: #ff7700;
    --colorblackblue: #0d2537;
    --colorblueblack: #21758f;
  }
  .hero{
    width:100%;
    max-height:auto;
    background-color:var(--colorblackblue);
    display:flex;
    align-items:center;
  }
  .hero .container{
    display:flex;
    justify-content:space-between;
    align-items:center;
  }
  .hero-text{
    width:50%;
    display:flex;
    flex-direction:column;
    gap:10px;
   }
  .hero-text h2{
    font-size:2rem;
    color:var(--colorYellowGold);
  }
  .hero-text p{
    font-size:20px;
    color:#ccc;
  }
  .hero-image{
    width:50%;
    height:auto;
     display:flex;
    align-items:center;
    justify-content:center;
 
  }
  
  .hero-image img{
    width:100%;
    height:auto;
  }
  .shop-section{
    width:100%;
    height:auto;
    margin-block:50px;
    position: relative;

  }
  .shop-section .container{
    display:flex;
    gap:1rem;
      
  }
  

  .sidebar {
    width: 200px;
     background-color: var(--colorblueblack);
     padding: 20px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease;
}
.sidebar.active {
    transform: translateX(0);
}
.sidebar h2 {
    font-size:2rem;
    color: #fff;
}
.sidebar ul li {
    cursor: pointer;
    margin: 10px 0;
    padding: 5px 0;
    color: #f5f5f5;
    transition: color 0.3s ease;
}

.sidebar ul li:hover {
    color: var(--colorYellowGold);
}
.shop-content {
    flex: 1;
    padding: 20px;
}

.section-title {
    font-size: 1.5em;
    color: var(--colorblackblue);
    margin: 20px 0 10px;
}

.book-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.book-item {
    width: 200px;
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.book-item img {
    width: 100%;
    height:200px;
     border-radius: 5px;
    margin-bottom: 10px;
}

.book-item h3 {
    font-size: 1.5 rem;
    color: var(--colorblackblue);
    margin-bottom: 5px;
}

.book-item p {
    color: #333;
    margin: 5px 0;
    font-size:14px;
}
.book-item .add-to-cart{
    padding:6px 16px;
    border:none;
    background-color:var(--colorblueblack);
    color:#fff;
    transition:0.5s;
}
.book-item .add-to-cart:hover{
    background-color:var(--colorYellowGold);
    
}
.toggle-sidebar {
    display:none;
    position: absolute;
    left: 0; 
    top: 20px;
    font-size: 24px;
    background-color: var(--colorblueblack);
    color: #fff;
    border: none;
    padding: 10px;
    cursor: pointer;
    z-index: 1;
    transition: transform 0.3s ease; /
}
@media(max-width:992px){
    .hero-text{
        width:100%;
        height:auto;
        text-align:center;
       }
       .hero-image{
         display:none;
     
      }
      .toggle-sidebar {
        display: block;
    }

    .sidebar {
        width:80%;
        position: absolute;
        left: 0;
        padding-left:50px;
        transform: translateX(-100%);

     }

    .sidebar.active {
        transform: translateX(0);
    }

    .shop-section .container {
        flex-direction: column;
    }
    .section-title {
        text-align:center;
    }
    .book-list {
        display: flex;
        align-items:center;
        justify-content:center;
    }
    

    
}
